.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
  background-color: #036B52;

}

.btnProducts {
  width: 370px;
  height: 110px;
  top: 0px;
  margin-top: 0px;
  background-color: #2FC18C;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #001813;

}

.btnOrder {
  width: 370px;
  height: 105px;
  top: 0px;
  margin-top: 0px;
  background-color: #036B52;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.containerUser {
  display: flex;
  align-self: center;
  justify-content: center;
}

.btnUser{
  width: 400px;
  height: 110px;
  align-items: center;
  background-color: #421981;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.btnExit {
  width: 200px;
  height: 110px;
  top: 0px;
  margin-top: 0px;
  background-color: #056CF9;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 1355px){
 
  .btnProducts {
    width: 300px;
  }

  .btnOrder {
    width: 300px;
  }

  .btnUser {
    width: 300px;
  }

  .btnExit {
    width: 150px;
  }
}

@media (max-width: 1110px){
  .container {
    height: 75px;
  }
  .btnProducts {
    width: 200px;
    height: 75px;
    font-size: 20px;
  }

  .btnOrder {
    width: 200px;
    height: 75px;
    font-size: 20px;
  }

  .btnUser {
    width: 200px;
    height: 75px;
    font-size: 20px;
  }

  .btnExit {
    width: 100px;
    height: 75px;
    font-size: 20px;
  }
}

@media (max-width: 760px){
 
  .container {
    height: 60px;
  }
  .btnProducts {
    width: 100px;
    font-size: 15px;
    height: 60px;
  }

  .btnOrder {
    width: 150px;
    font-size: 15px;
    height: 60px;
  }

  .btnUser {
    width: 150px;
    font-size: 15px;
    height: 60px;
  }

  .btnExit {
    width: 50px;
    font-size: 15px;
    height: 60px;
  }
}

@media (max-width: 428px){
 
  .container {
    height: 60px;
  }
  .btnProducts {
    width: 70px;
    font-size: 10px;
    height: 60px;
  }

  .btnOrder {
    width: 100px;
    font-size: 10px;
    height: 60px;
  }

  .btnUser {
    width: 150px;
    font-size: 10px;
    height: 60px;
  }

  .btnExit {
    width: 50px;
    font-size: 10px;
    height: 60px;
  }
}