.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
  background-color: #036B52;

}

.btnProducts {
  width: 370px;
  height: 110px;
  top: 0px;
  margin-top: 0px;
  background-color: #2FC18C;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #001813;

}

.btnOrder {
  width: 370px;
  height: 105px;
  top: 0px;
  margin-top: 0px;
  background-color: #036B52;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.containerUser {
  display: flex;
  align-self: center;
  justify-content: center;
}

.btnUser{
  width: 400px;
  height: 110px;
  align-items: center;
  background-color: #421981;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.btnExit {
  width: 200px;
  height: 110px;
  top: 0px;
  margin-top: 0px;
  background-color: #056CF9;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}